<h2>Авторизация</h2>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit">Войти</button>
</form>
<hr>
<h2>Фильтрация</h2>
<form method="get" action="{% url 'home' %}">
    <div>
        <label for="genre">Жанры:</label>
        <div class="checkbox-group">
            {% for genre in genres %}
                <div class="checkbox-item">
                    <input type="checkbox" id="genre_{{ genre.id }}" name="genre" value="{{ genre.id }}">
                    <label for="genre_{{ genre.id }}">{{ genre.name }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
    <button type="submit">Фильтровать</button>
</form>
